<!-- Created by Agnes Kemunto Okero -->

<!DOCTYPE html>
<html>

    <head>
        <title>Kenbright Celebration Code</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/styles.css') }}">
    </head>

    <body>
        <header id=header>Kenbright Celebration Code</header>
        <!--
        <div>
            <header></header>
            <article></article>
            <aside></aside>
        </div>
        -->
        <div>
            <header>27 years of celebration</header>
            <article>It was founded on 14th April 1993</article>
            <aside>Happy Anniversary</aside>
        </div>
        <div>
            <header>Kenbright owns 4 appendages</header>
            <article>Kenya Insurance Brokers<br>Kenbright Health Administrators<br>Kenbright Actuarial and Financial
                Services<br>Kenbright Reinsurance brokers</article>
            <aside>Thanks to our amazing team</aside>
        </div>
        <div>
            <header>Kenbright Health Administrators</header>
            <article>A decade of provision of Health Administration</article>
            <aside>Since 2005</aside>
        </div>
        <div>
            <header>Kenbright Actuarial and Financial Services</header>
            <article>5 years of wonderful experience<br>A world full of digitallization and Artificial
                intelligence<br>Data Science and analytics included<br>A team full of intelligent personnels has made
                this sector grow</article>
            <aside>Keep abreast actuaries</aside>
        </div>
        <div>
            <header>Kenbright Reinsurance brokers</header>
            <article>We aim to be the reinsurance broker of choice in the continent</article>
            <aside>Dream choice to partner with</aside>
        </div>
        <div>
            <header>Happy Anniversary</header>
            <article>And<br>Welcome to get the best Actuarial, Pension and Risk related advisory services<br>♡♡♡♡♡
            </article>
            <aside>2020</aside>
        </div>
    </body>
    Kenbright
